<?xml id="DailyHorizon" version="1.0.0" xmlns="http://cordova.apache.org/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0/cdv">
    <name>Daily Horizon</name>
    <description>Your Mindful Vestibular Tracker</description>
    <author email="dev@dailyhorizon.com" href="http://cordova.io">Daily Horizon Developer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <icon src="icon.png" />
    
    <preference name="loglevel" value="DEBUG" />
</xml>