<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dailyhorizon.tracker" version="1.0.0" xmlns="http://www.w3.org/1900/xhtml" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daily Horizon</name>
    <description>Your Mindful Vestibular Tracker</description>
    <author email="dev@dailyhorizon.com">Daily Horizon Developer</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <icon src="icon.png" />
    
    <preference name="loglevel" value="DEBUG" />
</widget>
